body{
	margin: 0;
	padding: 0;
	background: #CCC;
	font-family: "Segoe UI";
}

.cover{
	width: 400px;
	height: auto;
	margin: auto;
	margin-top: 50px;
	padding: 1%;
}

#error{
	height: auto;
	padding: 5px;
	font-size: 12px;
}

.valid{
	border: 1px solid green;
	background: green;
	color: #FFF;
}

.invalid{
	border: 1px solid red;
	background: red;
	color: #FFF;
}

input[type="text"]{
	width: 100%;
	height: 40px;
	margin: auto;
	border: 1px solid #F5F5F5;
	margin-bottom: 10px;
}